html {
	min-width: 1280px;
	height: 900px;
}

body {
	margin: 0px;
	font-family: Open Sans, sans-serif;
	font-size: 12pt;
}

/*
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(images/Preloader_3.gif) center no-repeat #fff;
}

*/

#header {
	background-image: url(images/pano.PNG);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 30% 20%;
	background-size: 100%;
	height: 80%;
	display: none;
}


#name {
	color: white;
	font-size: 5em;
	text-align: right;
	padding-top: 20px;
	padding-right: 20px;
}

#bigpic {
	border-radius: 47.5%;
	margin-top: 30px;
	height: 35%;
	width: 20%;
	border: thin solid grey;
	border-style: double;
}

/* =============================== ABOUT =============================== */

#aboutsection { 
	padding-top: 10px;
	padding-left: 20px;
	line-height: 20px;
	height: 90%;
	background-color: #FCFBF5;
	opacity: 0;
}

#title1 {
	color: #990000;
}

#aboutsection h3 {
	color: #660066;
}

.container1 {
	border: medium solid #ffcccc;
	border-radius: 1%;
	padding: 0px 25px 15px 23px;
	width: 27.5%;
	float: left;
	margin-right: 20px;
	line-height: 32px;
}

.container2 {	
	margin-top: 70px;
	border: medium solid #ffcccc;
	border-radius: 1%;
	padding: 0px 25px 15px 23px;
	width: 27.5%;
	float: left;
	margin-right: 20px;
	line-height: 32px;
}

.container3 {	
	margin-top: 140px;
	border: medium solid #ffcccc;
	border-radius: 1%;
	padding: 0px 25px 15px 23px;
	width: 27.5%;
	float: left;
	line-height: 32px;
}

/*
hr {
	display: block;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 150px;
	margin-right: 150px;
	border-style: outset;
	border-width: 1px;
	border-color: #E8E8E8;
}
*/
/* =============================== RESUME =============================== */

#resumesection { 
	background-color: #9FB6CD; /* 8DB6CD LIGHT THEME? */
	color: white;
	padding-top: 20px;
	padding-left: 20px;
	line-height: 32px;
	height: 700px;
	opacity: 0;
}

#title2 {
	color: #FFA54F;
}

#preview {
	position: relative;
	float: left;
}

#thumbnail {
	z-index: 1;

}

#direct {
	z-index: 0;
	opacity: 0%;
}

.fader {
	position: absolute;
	height: 250px;
	width: 380px;
}

#description {
	position: absolute;
	border-radius: 1%;
	margin-right: 20px;
	margin-left: 500px;
	margin-top: -290px;
	color: white;
	width: 55%;
	margin-left: 520px;
}

#description > a {
  color: #4dffff;
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
  text-decoration: none;
}

#description > a:hover { 
	color: #fcff00 
}

#category {
	color: #696969;
}

#title2v1 {
	position: absolute;
	color: #696969;
	margin-top: 50px;
	margin-left: 50px;
}

.skills {
	margin-top: 50px;
	margin-left: 20%;
}

#sk1 {
	position: relative;
	float: left;
}

#sk2 {
	margin-left: 80px;
	float: left;
}

#sk3 {
	margin-left: 80px;
	float: left;
}


/* =============================== CONTACT =============================== */

#contactsection {
	background-color: #333333;
	color: #a3a3c2;
	padding-top: 20px;
	padding-left: 20px;
	line-height: 40px;
	height: 700px;
	opacity: 0;
}

#info {
	float: left;
	margin-left: 200px;
	-o-transition:.3s;
  	-ms-transition:.3s;
  	-moz-transition:.3s;
  	-webkit-transition:.3s;
  	transition:.3s;
  	text-decoration: none;
}

#info:hover {
	color: white;
}

#mailto {
	text-decoration: none;
	color: #a3a3c2;
}

#mailto:hover {
	color: #b3ffb3;
	-o-transition:.3s;
  	-ms-transition:.3s;
  	-moz-transition:.3s;
  	-webkit-transition:.3s;
  	transition:.3s;
}

#title3 {
	color: #b3ffb3;
}

#profiles {
	margin-top: 250px;
	text-align: center;
}

#close {
	float: left;
}

#title4 {
	color: #b3ffb3;
	text-align: center;
}

#social {
	background: transparent;
	width: 580px;
	margin: 0 auto;
}

img.icon {
	border-radius: 50%;
	opacity: 0.9;
	margin: 20px;
	padding: 3px;
	border: #a1a1a1;
	float: left;
	-webkit-transition: margin 0.15s ease-out;
	-moz-transition: margin 0.15s ease-out;
	-o-transition: margin 0.15s ease-out;
}

img.icon:hover {
	cursor: pointer;
	margin-top: 5px;
}

#footer { 	
	border-top: medium double grey;
	padding-top: 10px;
	padding-left: 20px;
	line-height: 20px;
	height: 60px;
	background-color: #FCFBF5;
	text-align: center;
	color: grey;
	font-size: 10pt;
}






